App-header {
  margin: 30px 0;
  margin-top: 20px;
 }
 
 .App {
  margin-top: 20px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZW-6A3I-jCGUbjcmgeupPWNu_aoNXkkFT2fVbjkif1LjLzQxK8TPRlTozXwntMmLyC3o&usqp=CAU"); 
 }
 
 
 body {
  background-color: rgb(244,224,51); 
 }
 
 .card-body {
  background: #ffcc29;
 } 
 
 .card {
  border: 1px solid rgb(255,204,41); 
 }
 
 .img-fluid {
  max-width: 200px;
  display: block;
  margin: 0 auto; 
  margin-bottom: 20px; 
 }
 
 .App-footer {
  text-align: center;
  margin: 30px 0; 
 }
 
 a {
  color: #fa26a0;
 }
 
 em {
  color: #eb5e0b;
 }
 
 .purple {
  color: #845ec2
 }
 
 .green {
  color: #799351;
 }